*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(255, 255, 255);
}
.container
{
    display: flex;
}
.container__sidebar
{
    position: fixed;
    height: 100%;
    border-radius: .6em;
    background-color: black;
}
.sidebar__content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.sidebar__start-icons
{
    display: flex;
    justify-content: center;
    height: 76px;
}
.start-icons__icon-logo
{
    margin: auto;
}
.start-icons__icon-logo #image-logo
{
    width: 40px;
}
.sidebar__center-icons
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    height: 100%;
}

.center-icons__icon
{
    display: flex;
    margin-left: 11px;
    align-items: center;
    width: 42px;
    height: 40px;
}
.sidebar__end-icons
{
    height: 100px;
    display: flex;
}
.end-icons__icon-leave
{
    margin: auto;
}
.container__content
{
    display: flex;
    flex-wrap: wrap;
    width: 614.2px;
    margin-left: 53px;
}
.content__left
{
    width: 307.1px;
}
.left__card-greet
{
    background-color:#F5F5F7;
    margin: 1em;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 1em;
    padding: 8px;
    height: 80px;
}
.card-greet__text-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;   
}
.text-info__greet
{
    margin-bottom: .3em;
}
.text-info__greet--font
{
    font-family: 'PoetsenOne', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}
.text-info__slogan--font
{
    font-family: 'roboto', sans-serif;
    font-size: .9em;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: #232323;
}
.card-greet__image-greet
{
    display: flex;
}
.image-greet_image #image-greet
{
    margin-top: -1.3em;
    width: 100px;
}
.left__english-level
{
    display: flex;
    align-items: center;
    margin: 1em;
    height: 3em;
}
.english-level__firt-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F5F5F7;
    border-radius: .7em;
    padding: .2em;
}
.firt-item__icono
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: .5em;
    background-color: rgb(255, 255, 255);
}
.firt-item__icono #icono__image-github
{
    width: 25px;
}
.firt-item__level
{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 80px;
    margin-left: .4em;
}
.level__text-level
{
    font-family: 'PoetsenOne', sans-serif;
    font-size: 1em;
    font-weight: 400;
}
.level__text-name
{
    font-family: 'roboto', sans-serif;
    font-size: .7em;
    font-weight: 400;
}

.firt-item__percentage #percentage__image-circle
{
    width: 27px;
}
.boton-continue--style
{
    background-color: black;
    border-radius: .6em;
    border: #000;
    color: white;
    height: 26px;
    font-family: "PoetsenOne", sans-serif;
    font-size: .8em;
    letter-spacing: -0.3px;
    padding: .4em;
    margin-left: .2em;
}

.english-level__second-item #second-item__arrows--size
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: .04em;
}
.left__courses
{
    display: flex;
    margin: 1em;
    height: 100px;
    background-color: rgb(188, 188, 188);
    padding: 1em;
    border-radius: 1em;
}
.content__right
{
    width: 307.1px;
}
.right__top-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85px;
    background-color: rgb(188, 188, 188);
    border-radius: 1em;
    margin:1em;
}
.top-content__bar-search
{
    width: 250px;
    background-color: #dfe0e0;
    margin: 8px;
    height: 20px;
    border-radius: .5em;
}
.top-content__count-courses
{
    display: flex;
    justify-content: center;
    width: 250px;
    background-color:#dfe0e0;
    height: 50px;
    border-radius: .5em;
    margin-bottom: .5em;
}
/* ----------------------------------- conianter --------------------*/
.level-study__menu
{
    border-radius: 1em;
    padding: 6px;
    background-color: rgb(188, 188, 188);
    height: 40px;
    margin: 1em;
}
.level-study__graph
{
    background-color:rgb(188, 188, 188);
    height: 78.5px;
    border-radius: 1em;
    padding: 6px;
    margin: 1em;

}
.right__experience
{
    background-color:rgb(188, 188, 188);
    height: 56px;
    margin: 1em;
    border-radius: 1em;
    padding: 6px;
}