*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(255, 255, 255);
}
.container
{
    display: flex;
}
.container__sidebar
{
    position: fixed;
    height: 100%;
    border-radius: .6em;
    background-color: black;
    box-shadow: 0 6px 22px rgba(0, 0, 0, .7);
}
.sidebar__content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.sidebar__start-icons
{
    display: flex;
    justify-content: center;
    height: 76px;
}
.start-icons__icon-logo
{
    margin: auto;
}
.start-icons__icon-logo #image-logo
{
    width: 40px;
}
.sidebar__center-icons
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    height: 100%;
}

.center-icons__icon
{
    display: flex;
    margin-left: 11px;
    align-items: center;
    width: 42px;
    height: 40px;
}
.sidebar__end-icons
{
    height: 100px;
    display: flex;
}
.end-icons__icon-leave
{
    margin: auto;
}
.container__content
{
    display: flex;
    flex-wrap: wrap;
    width: 614.2px;
    margin-left: 40px;
    justify-content: center;
}
.content__left
{
    width: 90%;
}
.left__card-greet
{
    background-color:#F5F5F7;
    margin: 1em;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 1em;
    padding: 8px;
    height: 80px;
}
.card-greet__text-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;   
}
.text-info__greet
{
    margin-bottom: .3em;
    width: 130px;
}
.text-info__greet--font
{
    font-family: 'PoetsenOne', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}
.text-info__slogan--font
{
    font-family: 'roboto', sans-serif;
    font-size: .9em;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: #232323;
}
.card-greet__image-greet
{
    display: flex;
}
.image-greet_image #image-greet
{
    margin-top: -1.3em;
    width: 100px;
}
.left__english-level
{
    display: flex;
    align-items: center;
    margin: 1em;
    height: 3em;
    justify-content: space-around;
}
.english-level__firt-item
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#F5F5F7;
    border-radius: .7em;
    padding: .2em;
    width: 100%;
}
.firt-item__icono
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: .5em;
    background-color: rgb(255, 255, 255);
}
.firt-item__icono #icono__image-github
{
    width: 25px;
}
.firt-item__level
{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 80px;
    margin-left: .4em;
}
.level__text-level
{
    font-family: 'PoetsenOne', sans-serif;
    font-size: 1em;
    font-weight: 400;
}
.level__text-name
{
    font-family: 'roboto', sans-serif;
    font-size: .7em;
    font-weight: 400;
}

.firt-item__percentage #percentage__image-circle
{
    width: 27px;
}
.boton-continue--style
{
    background-color: black;
    border-radius: .6em;
    border: #000;
    color: white;
    height: 26px;
    font-family: "PoetsenOne", sans-serif;
    font-size: .8em;
    letter-spacing: -0.3px;
    padding: .4em;
    margin-left: .2em;
}

.english-level__second-item #second-item__arrows--size
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    max-width: 50px;
    padding: .04em;
}
.left__courses
{
    display: flex;
    flex-direction: column;
    margin: 1em;
    border-radius: 1em;
}
.courses__tittle-courses
{
    display: flex;
}
.tittle-courses--font
{
    font-family: 'PoetsenOne', sans-serif;
    font-size: .9em;
    font-weight: 400;
}
.first-language--font
{
    font-family: 'PoetsenOne', sans-serif;
    font-size: .8em;
    font-weight: 400;
}
.language--font
{
    font-family: 'PoetsenOne', sans-serif;
    font-size: .8em;
    color: #0C0B0B;
    opacity: 30%;
}
.courses__choose-language
{
    display: flex;
    justify-content: space-between;
}
.courses__course-content
{
    display: flex;
}
.course-content__card
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .3em;
    border-radius: .7em;
    background-color: #F5F5F7;
    height: 41px;
    width: 100%;
    margin: .2em;

}
.card__icono
{
    background-color: rgb(255, 255, 255);
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
}
#card__icon--size
{
    width: 20px;
    height: 20px;
}
.text-info__tittle
{
    font-family: 'PoetsenOne', sans-serif;
    font-size: 1em;
    font-weight: 400;
}
.text-info__name
{
    font-family: 'roboto', sans-serif;
    font-size: .7em;
    font-weight: 400;
    margin-top: .5em;
    width: 80px;
}
.card__container-rigth
{
    display: flex;
    flex-direction: column;
    
}
.container-rigth__top-content
{
    display: flex;
    align-items: center;
}
.top-content__time
{
    display: flex;
    min-width: 75px;
    margin-right: 1em;
}
.time__analog-time
{
    width: 53px;
}

.time__analog-time span
{
    font-family: 'roboto', sans-serif;
    font-size: .7em;
    font-weight: 400;
}
.qualification__text-qualification span
{
    font-family: 'roboto', sans-serif;
    font-size: .7em;
    font-weight: 400;
}
.top-content__qualification
{
    display: flex;
}
.qualification__icon-fire, .time__icon-watch
{
    margin-right: .5em;
    display: flex;
}
.container-rigth__bottom-content
{
    display: flex;
    justify-content: center;
    margin-top: .3em;
}
.bottom-content__view-course-button button
{
    background-color: #000;
    color: white;    
    border: none;
    border-radius: .4em;
    padding: .4em;
    font-family: "PoetsenOne", sans-serif;
    font-size: .8em;
    letter-spacing: -0.3px;
}

/* ----------------------------------- conianter --------------------*/
.content__right
{
    width: 90%;
}
.bar-search__left-item
{
    background-color: #F5F5F7;
    border-radius: .5em;
    padding: .3em;
    width: 70%;
}
.left-item__search
{
    height: 30px;
    width: 10px;
}
.search__icon
{
    height: 20px;
    width: 20px;
}

.right__top-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85px;
    background-color: rgb(188, 188, 188);
    border-radius: 1em;
    margin:1em;
}

.top-content__bar-search
{
    width: 100%;
    display: flex;
    margin: 8px;
    height: 29px;
}

.bar-search__rigth-item
{
    width: 30%;
    padding: .3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.notifications__icon-notification
{
    width: 25px;
    
}
.rigth-item__profile-picture
{
    display: flex;
}
.profile-picture__image
{
    height: 27px;
    width: 30px;
    border-radius: .4em;
}


.top-content__count-courses
{
    display: flex;
    justify-content: center;
    width: 250px;
    background-color:#dfe0e0;
    height: 50px;
    border-radius: .5em;
    margin-bottom: .5em;
}
/* ----------------------------------- conianter --------------------*/
.level-study__menu
{
    border-radius: 1em;
    padding: 6px;
    background-color: rgb(188, 188, 188);
    height: 40px;
    margin: 1em;
}
.level-study__graph
{
    background-color:rgb(188, 188, 188);
    height: 78.5px;
    border-radius: 1em;
    padding: 6px;
    margin: 1em;

}
.right__experience
{
    background-color:rgb(188, 188, 188);
    height: 56px;
    margin: 1em;
    border-radius: 1em;
    padding: 6px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{ 
    body
    {
        background-color: red;
    }
    .content__left
    {
        width: 307.1px;
    }
    .content__right {
        width: 307.1px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{
    body
    {
        background-color: rgb(200, 255, 0);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    body
    {
        background-color: rgb(255, 0, 200);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }